<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">
    <div class="wrapper">
      <section>
        <div id="title">
          <br>
          <h1>Managing Enterprise Servers Portfolio</h1>
          <br>
          <p>By: Mark Dave Blancaflor</p>
          <br>
          <nav id="nav">
						<ul class="links">
							<li><a href="index.html">PRELIM</a></li>
							<li class="active"><a href="midterm.html">MIDTERM</a></li>
							<li><a href="finals.html">FINALS</a></li>
              <div class="topnav-right">
                <a class="pads" href="about.html">ABOUT</a>
              </div>
					  </ul>
          </nav>
          <br>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        </div>
      </section>
          <h2 class="post-title p-name" itemprop="name headline">Hands-on Activity 7: Install, configure, and manage enterprise monitoring via Ansibles</h2>
          <p class="pic"><img src="https://user-images.githubusercontent.com/75419236/104272489-2b3cb500-54d8-11eb-8040-338c83bea1c4.png" alt="" width="650" height="210"></p><br><br>
            <p class="list">
            <strong>Follow this procedure:</strong>
            <br>
            <div class="post1">
1. Fork this repository <a href="https://github.com/ajcanlas-tip/sysad2-12021.git">https://github.com/ajcanlas-tip/sysad2-12021.git</a>
2. Clone your newly forked repository.
3. Make a new branch named "activity7" from master branch using <code class="highlight">git branch activity7</code> and<br> <code class="highlight">git checkout activity7.</code>
4. Make a new remote upstream with git remote add upstream <a href="https://github.com/ajcanlas-tip/sysad2-12021.git">https://github.com/ajcanlas-tip/sysad2-12021.git</a>
5. Create a playbook that installs ELK, Nagios, Grafana + Prometheus in both Ubuntu and Centos <br>(use Roles to optimize the playbook)
6. Create different plays in installing per service and identify it as a group in Inventory file.
7. Add,commit and push it to your activity7 branch
8. Request a pull request for the master branch in <a href="https://github.com/ajcanlas-tip/sysad2-12021.git">https://github.com/ajcanlas-tip/sysad2-12021.git</a> <br>and activity7 branch of your forked repository
            </div>
            </p>
          </p>
          <h2>Output:</h2>
          <br>
          <h2>Directory Summary:</h2>
          <a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/activity7">GitHub Page</a></p>
          <div style="white-space: pre">
          <h2>Directory Summary:</h2>
          <code text-align="left" class="highlight">
.
├── mdblancaflor-tip
│   └── activity7
│       ├── ansible.cfg
│       ├── elasticsearch.repo
│       ├── grafana.repo
│       ├── inventory
│       ├── playbook.yaml
│       ├── prometheus.repo
│       ├── README.md
│       └── roles
│           ├── centos-monitor
│           │   ├── elk
│           │   │   ├── defaults
│           │   │   │   └── main.yml
│           │   │   ├── handlers
│           │   │   │   └── main.yml
│           │   │   ├── meta
│           │   │   │   └── main.yml
│           │   │   ├── README.md
│           │   │   ├── tasks
│           │   │   │   └── main.yml
│           │   │   ├── tests
│           │   │   │   ├── inventory
│           │   │   │   └── test.yml
│           │   │   └── vars
│           │   │       └── main.yml
│           │   ├── grafana
│           │   │   ├── defaults
│           │   │   │   └── main.yml
│           │   │   ├── handlers
│           │   │   │   └── main.yml
│           │   │   ├── meta
│           │   │   │   └── main.yml
│           │   │   ├── README.md
│           │   │   ├── tasks
│           │   │   │   └── main.yml
│           │   │   ├── tests
│           │   │   │   ├── inventory
│           │   │   │   └── test.yml
│           │   │   └── vars
│           │   │       └── main.yml
│           │   ├── nagios
│           │   │   ├── defaults
│           │   │   │   └── main.yml
│           │   │   ├── handlers
│           │   │   │   └── main.yml
│           │   │   ├── meta
│           │   │   │   └── main.yml
│           │   │   ├── README.md
│           │   │   ├── tasks
│           │   │   │   └── main.yml
│           │   │   ├── tests
│           │   │   │   ├── inventory
│           │   │   │   └── test.yml
│           │   │   └── vars
│           │   │       └── main.yml
│           │   └── prometheus
│           │       ├── defaults
│           │       │   └── main.yml
│           │       ├── handlers
│           │       │   └── main.yml
│           │       ├── meta
│           │       │   └── main.yml
│           │       ├── README.md
│           │       ├── tasks
│           │       │   └── main.yml
│           │       ├── tests
│           │       │   ├── inventory
│           │       │   └── test.yml
│           │       └── vars
│           │           └── main.yml
│           └── ubuntu-monitor
│               ├── elk
│               │   ├── defaults
│               │   │   └── main.yml
│               │   ├── handlers
│               │   │   └── main.yml
│               │   ├── meta
│               │   │   └── main.yml
│               │   ├── README.md
│               │   ├── tasks
│               │   │   └── main.yml
│               │   ├── tests
│               │   │   ├── inventory
│               │   │   └── test.yml
│               │   └── vars
│               │       └── main.yml
│               ├── grafana
│               │   ├── defaults
│               │   │   └── main.yml
│               │   ├── handlers
│               │   │   └── main.yml
│               │   ├── meta
│               │   │   └── main.yml
│               │   ├── README.md
│               │   ├── tasks
│               │   │   └── main.yml
│               │   ├── tests
│               │   │   ├── inventory
│               │   │   └── test.yml
│               │   └── vars
│               │       └── main.yml
│               ├── nagios
│               │   ├── defaults
│               │   │   └── main.yml
│               │   ├── handlers
│               │   │   └── main.yml
│               │   ├── meta
│               │   │   └── main.yml
│               │   ├── README.md
│               │   ├── tasks
│               │   │   └── main.yml
│               │   ├── tests
│               │   │   ├── inventory
│               │   │   └── test.yml
│               │   └── vars
│               │       └── main.yml
│               └── prometheus
│                   ├── defaults
│                   │   └── main.yml
│                   ├── handlers
│                   │   └── main.yml
│                   ├── meta
│                   │   └── main.yml
│                   ├── README.md
│                   ├── tasks
│                   │   └── main.yml
│                   ├── tests
│                   │   ├── inventory
│                   │   └── test.yml
│                   └── vars
│                       └── main.yml
└── README.md

61 directories, 72 files

          </code>
          </div>
    </div>
    <hr>
    <div class="footer">
      <p align="center"><a href="https://www.facebook.com/Emdi.blancaflor/" class="fa fa-facebook"></a> <a href="https://twitter.com/Mrkdvblncflr" class="fa fa-twitter"></a> <a href="https://www.instagram.com/mrkdv_blncflr/" class="fa fa-instagram"></a> <a href="https://github.com/mdblancaflor-tip" class="fa fa-github"></a></p>
        <div class="footer-bottom">
          <p> &copy; <a class="u-email" href="mailto:qjdalamzon@tip.edu.ph">qjdalamzon@tip.edu.ph</a> | Designed by John David Lamzon</p>
          CPE 232-CPE31S2 - Managing Enterprise Servers
        </div>
    </div>
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.Scom/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}



