<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>


  </head>
  <body class="is-preload">
    <div class="wrapper">
      <section>
        <div id="title">
          <br>
          <h1>Managing Enterprise Servers Portfolio</h1>
          <br>
          <p>By: Mark Dave Blancaflor</p>
          <br>
          <nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">PRELIM</a></li>
							<li><a href="midterm.html">MIDTERM</a></li>
              <li><a href="finals.html">FINALS</a></li>
              <div class="topnav-right">
                <a class="pads" href="about.html">ABOUT</a>
              </div>
            </ul>
          </nav>
          <br>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        </div>
      <section class="posts">
        <article>
          <header>
            <h2><a href="ha1.html">Hands-on Activity 1: Install and configure your repository in Local Git</a></h2>
            <p class="date">December 06, 2020</p>
          </header>
          <div class="zoom"><a href="ha1.html" class="image fit"><img src="assets/images/HA1.jpg" alt="" /></a></div>
          <p>Create a git repository locally and emphasize the use of Git in your local project in a CI/CD environment.</p>
          <a href="ha1.html" class="ghost">Read More</a>
        </article>
        <hr>
        <article>
          <header>
            <h2><a href="ha2.html">Hands-on Activity 2: Install and configure your repository in remote Git in GitHub</a></h2>
            <p class="date">December 06, 2020</p>
          </header>
          <div class="zoom"><a href="ha2.html" class="image fit"><img src="/assets/images/HA2.png" alt="" /></a></div>
          <p>Create a local directory and link it in a centralized repository in Github.</p>
          <a href="ha2.html" class="ghost">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/activity2">GitHub Page</a></p>
        </article>
        <hr>
        <article>
          <header>
            <h2><a href="quiz13.html">Quiz 1.3: Git</a></h2>
            <p class="date">December 06, 2020</p>
          </header>
          <div class="zoom"><a href="quiz13.html" class="image fit"><img src="/assets/images/Q1.3.png" alt="" /></a></div>
          <a class="ghost" href="quiz13.html">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/development">GitHub Page</a>
				</article>
       <hr>
        <article>
          <header>
            <h2><a href="ha3.html">Hands-on Activity 3: Ansible Basics</a></h2>
            <p class="date">December 13, 2020</p>
          </header>
          <div class="zoom"><a href="ha3.html" class="image fit"><img src="https://user-images.githubusercontent.com/75419236/104220665-c99a2d80-547a-11eb-8112-368f5958e822.png" alt="" /></a></div>
          <p>Create Ansible configuration, Inventory and execute and Adhoc command of Ansible.</p>
          <a href="ha3.html" class="ghost">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/activity3">GitHub Page</a>
        </article>
        <hr>
        <article>
          <header>
            <h2><a href="ha4.html">Hands-on Activity 4: Ansible Playbooks</a></h2>
            <p class="date">December 13, 2020</p>
          </header>
          <div class="zoom"><a href="ha4.html" class="image fit"><img src="https://user-images.githubusercontent.com/75419236/104220735-e46ca200-547a-11eb-9f19-bb6fcf40958e.png" alt="" /></a></div>
          <p>Create Ansible Playbook to document the workflow.</p>
          <a href="ha4.html" class="ghost">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/activity4">GitHub Page</a>
        </article>
        <hr>
        <article>
          <header>
            <h2><a href="ha5.html">Hands-on Activity 5: Implement Ansible roles in Playbooks</a></h2>
            <p class="date">December 13, 2020</p>
          </header>
          <div class="zoom"><a href="ha5.html" class="image fit"><img src="https://user-images.githubusercontent.com/75419236/104220791-f77f7200-547a-11eb-8d8a-4eedc6c509fa.png" alt="" /></a></div>
          <p>Create an Ansible Playbook that uses Ansible roles as optimization.</p>
          <a href="ha5.html" class="ghost">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/activity5">GitHub Page</a>
        </article>
        <hr>
        <article>
          <header>
            <h2><a href="quiz21.html">Quiz 2.1: Ansible</a></h2>
            <p class="date">December 13, 2020</p>
          </header>
          <div class="zoom"><a href="quiz21.html" class="image fit"><img src="https://user-images.githubusercontent.com/75419236/104218631-fa2c9800-5477-11eb-8a58-437e7d1e6856.png" alt="" /></a></div>
          <a href="quiz21.html" class="ghost">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/quiz2.1">GitHub Page</a>
        </article>
        <hr>
        <article>
          <header>
            <h2><a href="quiz22.html">Quiz 2.2. Ansible Playbooks</a></h2>
            <p class="date">December 13, 2020</p>
          </header>
          <div class="zoom"><a href="quiz22.html" class="image fit"><img src="https://user-images.githubusercontent.com/75419236/104219428-11b85080-5479-11eb-9286-9d7632147938.png" alt="" /></a></div>
          <a href="quiz22.html" class="ghost">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/quiz2.2">GitHub Page</a>
        </article>
        <hr>
        <article>
          <header>
            <h2><a href="quiz23.html">Quiz 2.3. Ansible Roles</a></h2>
            <p class="date">December 13, 2020</p>
          </header>
          <div class="zoom"><a href="quiz23.html" class="image fit"><img src="https://user-images.githubusercontent.com/75419236/104220107-fb5ec480-5479-11eb-8ef6-dda2f6c8ac8c.png" alt="" /></a></div>
          <a href="quiz23.html" class="ghost">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/quiz2.3">GitHub Page</a>
        </article>
        <hr>
        <article>
          <header>
            <h2><a href="preexam.html">Hands-on Prelim Exam</a></h2>
            <p class="date">December 14, 2020</p>
          </header>
          <div class="zoom"><a href="preexam.html" class="image fit"><img src="https://user-images.githubusercontent.com/75419236/104221105-6ceb4280-547b-11eb-977f-6659c1b847fe.png" alt="" /></a></div>
          <a href="preexam.html" class="ghost">Read More</a><a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/prelim-exam">GitHub Page</a>
				</article>
      </section>
    </div>
    <hr>
    <div class="footer">
      <p align="center"><a href="https://www.facebook.com/Emdi.blancaflor/" class="fa fa-facebook"></a> <a href="https://twitter.com/Mrkdvblncflr" class="fa fa-twitter"></a> <a href="https://www.instagram.com/mrkdv_blncflr/" class="fa fa-instagram"></a> <a href="https://github.com/mdblancaflor-tip" class="fa fa-github"></a></p>
      <div class="footer-bottom">
        <p>&copy; <a class="u-email" href="mailto:qjdalamzon@tip.edu.ph">qjdalamzon@tip.edu.ph</a> | Designed by John David Lamzon</p>
        <p>CPE 232-CPE31S2 - Managing Enterprise Servers</p>
      </div>
    </div>  

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.Scom/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
