<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">
    <div class="wrapper">
      <section>
        <div id="title">
          <br>
          <h1>Managing Enterprise Servers Portfolio</h1>
          <br>
          <p>By: Mark Dave Blancaflor</p>
          <br>
          <nav id="nav">
						<ul class="links">
							<li><a href="index.html">PRELIM</a></li>
							<li class="active"><a href="midterm.html">MIDTERM</a></li>
							<li><a href="finals.html">FINALS</a></li>
              <div class="topnav-right">
                <a class="pads" href="about.html">ABOUT</a>
              </div>
					  </ul>
          </nav>
          <br>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        </div>
      </section>
          <h2 class="post-title p-name" itemprop="name headline">Hands-on Midterm Exam</h2>
          <p class="pic"><img src="https://user-images.githubusercontent.com/75419236/104274719-7658c700-54dc-11eb-99fc-8fb5d5beaffa.png" alt="" width="650" height="210"></p><br><br>
            <p class="list">
            <strong>Follow this procedure:</strong>
            <br>
            <div class="post1">
1. Fork this repository <a href="https://github.com/ajcanlas-tip/sysad2-12021.git">https://github.com/ajcanlas-tip/sysad2-12021.git</a>
2. Clone your new repository in your VM <code class="highlight">https://github.com/< your username >/sysad2-12021.git</code>
3. Create a branch named "midterm-exam" and checkout in that branch. .
4. Create an Ansible playbook that does the following with an input of a config.yaml file and arranged Inventory file:
      4.1 Install and configure Elastic Stack in separate  hosts (Elastic Search, Kibana, Logstash)
      4.2 Install Nagios in one host
      4.3 Install Grafana,Prometheus and Influxdb in seperate hosts (Influxdb,Grafana,Prometheus)
      4.4 Install Lamp Stack in seperate hosts (Httpd + Php,Mariadb) 
5. Push and commit your midterm-exam branch in the VM (no need for ansible.cfg upon pushing)
6. Request a pull request from that branch in GitHub
7. For your midterm exam to be counted, please paste your repository link as an answer in this exam.
            </div>
            </p>
          </p>
          <h2>Output:</h2>
          <br>
          <a class="ghost" href="https://github.com/mdblancaflor-tip/sysad2-12021/tree/Midterm-exam">GitHub Page</a></p>
          <h2>Directory Summary:</h2>
          <div style="white-space: pre">
          <h2>Directory Summary:</h2>
          <code text-align="left" class="highlight">
.
├── 1811124
│   └── midterm-exam
│       ├── 02-beats-input.conf
│       ├── 10-syslog-filter.conf
│       ├── 30-elasticsearch-output.conf
│       ├── config.yaml
│       ├── elasticsearch.repo
│       ├── filebeat.yml
│       ├── grafana.repo
│       ├── influxdb.repo
│       ├── inventory
│       ├── logstash.conf
│       ├── playbook.yaml
│       ├── prometheus.repo
│       ├── README.md
│       └── roles
│           ├── centos
│           │   ├── elk
│           │   │   ├── defaults
│           │   │   │   └── main.yml
│           │   │   ├── handlers
│           │   │   │   └── main.yml
│           │   │   ├── meta
│           │   │   │   └── main.yml
│           │   │   ├── README.md
│           │   │   ├── tasks
│           │   │   │   └── main.yml
│           │   │   ├── tests
│           │   │   │   ├── inventory
│           │   │   │   └── test.yml
│           │   │   └── vars
│           │   │       └── main.yml
│           │   ├── gpi
│           │   │   ├── defaults
│           │   │   │   └── main.yml
│           │   │   ├── handlers
│           │   │   │   └── main.yml
│           │   │   ├── meta
│           │   │   │   └── main.yml
│           │   │   ├── README.md
│           │   │   ├── tasks
│           │   │   │   └── main.yml
│           │   │   ├── tests
│           │   │   │   ├── inventory
│           │   │   │   └── test.yml
│           │   │   └── vars
│           │   │       └── main.yml
│           │   ├── lamp
│           │   │   ├── defaults
│           │   │   │   └── main.yml
│           │   │   ├── handlers
│           │   │   │   └── main.yml
│           │   │   ├── meta
│           │   │   │   └── main.yml
│           │   │   ├── README.md
│           │   │   ├── tasks
│           │   │   │   └── main.yml
│           │   │   ├── tests
│           │   │   │   ├── inventory
│           │   │   │   └── test.yml
│           │   │   └── vars
│           │   │       └── main.yml
│           │   └── nagios
│           │       ├── defaults
│           │       │   └── main.yml
│           │       ├── handlers
│           │       │   └── main.yml
│           │       ├── meta
│           │       │   └── main.yml
│           │       ├── README.md
│           │       ├── tasks
│           │       │   └── main.yml
│           │       ├── tests
│           │       │   ├── inventory
│           │       │   └── test.yml
│           │       └── vars
│           │           └── main.yml
│           └── ubuntu
│               ├── elk
│               │   ├── defaults
│               │   │   └── main.yml
│               │   ├── handlers
│               │   │   └── main.yml
│               │   ├── meta
│               │   │   └── main.yml
│               │   ├── README.md
│               │   ├── tasks
│               │   │   └── main.yml
│               │   ├── tests
│               │   │   ├── inventory
│               │   │   └── test.yml
│               │   └── vars
│               │       └── main.yml
│               ├── gpi
│               │   ├── defaults
│               │   │   └── main.yml
│               │   ├── handlers
│               │   │   └── main.yml
│               │   ├── meta
│               │   │   └── main.yml
│               │   ├── README.md
│               │   ├── tasks
│               │   │   └── main.yml
│               │   ├── tests
│               │   │   ├── inventory
│               │   │   └── test.yml
│               │   └── vars
│               │       └── main.yml
│               └── lamp
│                   ├── defaults
│                   │   └── main.yml
│                   ├── handlers
│                   │   └── main.yml
│                   ├── meta
│                   │   └── main.yml
│                   ├── README.md
│                   ├── tasks
│                   │   └── main.yml
│                   ├── tests
│                   │   ├── inventory
│                   │   └── test.yml
│                   └── vars
│                       └── main.yml
└── README.md

54 directories, 70 files
        
          </code>
          </div>
    </div>
    <hr>
    <div class="footer">
      <p align="center"><a href="https://www.facebook.com/Emdi.blancaflor/" class="fa fa-facebook"></a> <a href="https://twitter.com/Mrkdvblncflr" class="fa fa-twitter"></a> <a href="https://www.instagram.com/mrkdv_blncflr/" class="fa fa-instagram"></a> <a href="https://github.com/mdblancaflor-tip" class="fa fa-github"></a></p>
        <div class="footer-bottom">
          <p> &copy; <a class="u-email" href="mailto:qjdalamzon@tip.edu.ph">qjdalamzon@tip.edu.ph</a> | Designed by John David Lamzon</p>
          CPE 232-CPE31S2 - Managing Enterprise Servers
        </div>
    </div>
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.Scom/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}



